.article {
    display: flex;
    /* border: 2px solid red; */
    width: min-content;
    height: min-content;
    gap: 15px;
    align-self: flex-end;
}

.article__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
