.image-text {
    color: white;
    width: 25vw;
    font-size: 1.3rem;
    font-weight: 500;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    margin-right: 15vw;
    line-height: 2rem;
}

.image-text--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.image-text--hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}