/* .navigation {
    position: fixed;
    width: 45px;
    height: min-content;
    z-index: 99999;
    background-color: #efa943;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #eceae7;
    padding: 5px 0;
}

.navigation__icon {
    margin: 10px;
}

.navigation__icon:nth-child(2) {
    font-weight: 900;
    line-height: 0.3rem;
    position: relative;
    top: -5px
} */

