.heading {
    margin-left: 45vw;
    width: 55vw;
    position: fixed;
    font-size: 4rem;
    color: white;
    text-align: right;
    overflow-wrap: break-word;
    hyphens: auto;
    mix-blend-mode: exclusion;
    font-weight: 900;
    font-size: 5rem;
    line-height: 10rem;
}