.ic1 {
    /* border: 1px solid red; */
    height: 37vh;
    position: relative;
}

.ic1__image {
    max-height: 100%;
    /* visibility: hidden; */
}

.ic1__text-bounding {
    height: 100%;
    position: absolute;
    background-color: #212529;
    top: 0;
    left: 0;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.animate {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    animation: clip-path-animation 13.5s infinite;
}

@keyframes clip-path-animation {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    44% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    53% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    90% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
  }

.ic1__text-bounding > p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2rem;
}