* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
}

.masonry-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
  gap: 4vmin
}

.masonry-grid-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vmin
  /* transform: translate(0%, -50%); */
}

.image {
  /* width: 50vmin; */
  height: 38vh;
  object-fit: contain;
  /* object-position: 20%; */
}
