* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
  width:fit-content
}

.App {
  margin-top: 1200px;
  margin-bottom: 1000px;
  height: 200vh;
  display: flex;
  /* border: 5px solid salmon; */
}

.masonry-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4vmin;
  color: white
}

.masonry-grid-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* transform: translate(0%, -50%); */
}

.image {
  /* width: 50vmin; */
  height: 38vh;
  object-fit: contain;
  /* object-position: 20%; */
}

.red {
  background-color: red;
  height: 500px;
}

.blue {
  background-color: blue;
  height: 400px;
  transform: translateY(0px)
}


