body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9ecef;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}