* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Amatic SC', cursive;
  overflow-y: hidden;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

body::-moz-scrollbar {
  display: none;
}