.masonry-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4vmin;
    margin-left: 150px;
  }
  
  .masonry-grid-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3vmin;
  }
  
  .image {
    height: 37vh;
    object-fit: contain;
  }